@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.metasection {
    /* background-image: url(../image/bg.png); */
    background: rgb(247, 247, 247);
}
.header {
    margin-right: 140px;
    margin-left: 140px;
}
.logo {
    display: flex;
    font-family: quicksand;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 70;
    line-height: 30px;
    letter-spacing: 0%; 
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-top: 15px;
}
.display-flex {
    display: flex;
}
.nave-item {
    list-style: none;
    margin-right: 30px;
    font-family: quicksand;
}
.nave-link {
    text-decoration: none;
    color: black;
    font-family: quicksand;
}
.c1 {
    color: orange;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
}
.c2 {
    color: skyblue;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
}
.c3 {
    color: aquamarine;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
}
.c4 {
    color: plum;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
}
.navbar {
    justify-content: space-between;
}
.btn {
    font-family: quicksand;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.bars img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 576px) {
    .nav-links, .btn {
        display: none;
    }
    .bars img {
        margin-top: 30px;
        display: block;
        visibility: visible;
        margin-right: -250px;
    }
}
    /* kono ekta kichur jonno, maybe hamburger menu er jonno display block korte hbe. */
.banner {
    margin-right: 140px;
    margin-left: 140px;    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.o {
    color: rgb(254, 163, 1);
}
.t {
    color: rgb(1, 172, 253);
}
.hero-text {
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 70;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-text p {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-image img{
    width: 400px;
    height: auto;
}
.btn2 {
    font-family: quicksand;
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
@media screen and (max-width: 576px) {
    .header {
        margin-left: 20px;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .hero-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        line-height: 40px;
    }
    .hero-text p {
        text-align: center; 
    }
    .hero-image img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }  
}

.title {
    /* margin-top: 60px; */
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    margin-left: 140px;
}
.cardbox {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);  
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardbox img {
    width: 30%;
    padding-top: 40px;
}
.problem {
    width: 211.06px;
    height: 31.13px;
    left: 78.57px;
    top: 221.65px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}
.jhamela {
    width: 286.26px;
    height: 74.51px;
    left: 40.88px;
    top: 286.26px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.anotherbutton {
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.cardbox1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cardbox1 img {
    width: 30%;
    padding-top: 40px;
}
.problem1 {
    width: 223.27px;
    height: 31.13px;
    left: 72.47px;
    top: 226.37px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}
.jhamela1 {
    width: 286.26px;
    height: 74.51px;
    left: 40.88px;
    top: 290.98px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.anotherbutton1 {
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cardbox2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardbox2 img {
    width: 30%;
    padding-top: 40px;
}
.problem2 {
    width: 231.6px;
    height: 31.13px;
    left: 68.31px;
    top: 221.65px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}
.jhamela2 {
    width: 286.26px;
    height: 74.51px;
    left: 40.88px;
    top: 286.26px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.anotherbutton2 {
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.two {
    text-align: center;
    background-image: url(../image/bg.png);
    /* background-position: 20px; */
}
.icon img {
    margin-top: 30px;
    width: 50px;
    height: 50px;

}

@media screen and (max-width: 576px) {
    .two {
        justify-items: center;
    }
    .container {
        flex-direction: column;
        grid-template-columns: 1fr;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .cardbox {
        margin-bottom: 20px;
    }
    .cardbox1 {
        margin-bottom: 20px;
    }
    .icon img {
        display: none;
    }
}

.metasection-1 {
    background: url(../image/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* margin-left: 140px;
    margin-right: 140px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kothin {
    /* display: flex;
    justify-content: space-between; */

}
.moja {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
}
.card1 {
    width: 540.27px;
    height: 630.52px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.card1 img {
    width: 540px;
    height: 337px;
    border-radius: 16px 16px 0px 0px;
}
.lekha-ek {
    width: 402.49px;
    height: 69.98px;
    left: 0;
    top: 2.88px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}
.para-ek {
    width: 433.06px;
    height: 75.74px;
    left: 38.35px;
    top: 520.26px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
}

.btn-ek {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    border: none;

    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    top: -15px;
    left: 10px;
}


.choto-card-1 {
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.choto-card-1 img {
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0px 0px;
}
.lekha-dui {
    width: 198.04px;
    height: 47.93px;
    left: 0;
    top: 4.79px;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    margin-bottom: -20px;
}
.btn-dui {
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
    border: none;

    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    top: -15px;
    left: 10px;
}
.choto-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.ccontainer {
    display: flex;
    justify-content: space-between;
    /* margin-right: 140px;
    margin-left: 140px; */
}
.ccc {
    margin-right: 50px;
}
.btn-dui1 {
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    border: none;  
    
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    top: -15px;
    left: 10px;
}
@media screen and (max-width: 576px) {
    .card1 {
        display: none;
    }
    .choto-card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        width: 100%;
        margin-right: 50px;
    }
    .choto-card-1 {
        width: 173.09px;
        height: 179.59px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
    }
    .choto-card-1 img {
        width: 173.27px;
        height: 105.39px;
        border-radius: 16px 16px 0px 0px;
    }
    .lekha-dui {
        width: 117.92px;
        height: 28.54px;
        left: 0;
        top: 2.85px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 9.13px;
        font-weight: 700;
        line-height: 17.12px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: -10px;
    }
    .btn-dui {
        border-radius: 47.93px;
        background: rgb(93, 88, 240);
        border: none;
    
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
        top: -15px;
        left: 10px;
    }
    .btn-dui1 {
        border-radius: 47.93px;
        background: rgb(149, 178, 38);
        border: none;
    
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
        top: -15px;
        left: 10px;
    }  
}

.meta-footer {
    padding-top: 30px;
    background: rgb(1, 172, 253);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 140px;
    padding-right: 140px;
}
.fo1-h {
    width: 206.11px;
    height: 80px;
    left: 234.6px;
    top: 2696.32px;

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
}
.fo1-chobi {
    width: 82.9px;
    height: 81.65px;
    padding-top: 27px;
}
.fo1-p {
    width: 399.02px;
    height: 100px;
    left: 148px;
    top: 2812px;

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    
}
.head {
    width: 156.36px;
    height: 30px;
    left: 719.73px;
    top: 2695px;

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.pa {
    width: 97.47px;
    height: 25px;
    left: 719.73px;
    top: 2892px;

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.fo1 {
    display: flex;
}
.str {
    display: flex;
    flex-direction: column;
}
